@font-face {
    font-family: 'Inter';
    src: url('inter-v20-latin-300.woff2') format('woff2'),
         url('inter-v20-latin-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('inter-v20-latin-regular.woff2') format('woff2'),
         url('inter-v20-latin-regular.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('inter-v20-latin-500.woff2') format('woff2'),
         url('inter-v20-latin-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('inter-v20-latin-600.woff2') format('woff2'),
         url('inter-v20-latin-600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('inter-v20-latin-700.woff2') format('woff2'),
         url('inter-v20-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
